.daysWeek {
	display: flex;
	justify-content: space-between;
}

.daysWeek > div > div {
	margin-top: 2px;
}

.young {
  width: 50px;
  background-color: #3399ff;
}

.adult {
  width: 50px;
  background-color: #3366cc;
}

.old {
  width: 50px;
  background-color: #dc3912;
}

.kid {
	width: 50px;
	background-color: #109618;
}

.undefine {
	width: 50px;
	background-color: #999999;
}

.captionAge {
	display: flex;
}

.captionAge > div {
	display: flex;
	margin: 10px;
}

.captionAge > div > div {
	height: 20px;
	margin-right: 5px;
}